body {
  background: #f6f6f9;
  display: flex;
  min-width: 320px;
  flex-direction: column;
  align-items: center;

  /* Font render settings */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset margins for text elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
button {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
  text-align: inherit;
  box-shadow: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.headerSection {
  background: white;
  display: flex;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  box-shadow: inset 0 -1px 0 0 #e1e2ea;
  background: white;

  /* Stick the position */
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Ensures it stays above other content if needed */
}

.content {
  display: flex;
  max-width: 1440px;
  padding: 16px 0px;
  align-items: center;
  flex: 1 0 0;
  box-sizing: border-box;
}

.logo {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  box-sizing: border-box;
}

.navItem {
  color: #585e7a;

  /* body-16-semibold */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.navCTA {
  display: flex;
  padding: 8px 16px;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  border-width: 0px;
  border-radius: 12px;
  background: #006efd;
  color: #ffffff;
  cursor: pointer;

  /* body-16-semibold */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.burgerMenu {
  display: none;
}

/* Hiding burger and nav menu */
@media (max-width: 1023px) {
  .navItem {
    display: none;
  }

  .burgerMenu {
    display: block;
  }

  .nav {
    gap: 24px;
  }
}

@media (max-width: 767px) {
  .headerSection {
    padding: 0px 16px;
  }

  .nav {
    gap: 16px;
  }
}

@media (max-width: 479px) {
  .headerSection {
    padding: 0px 12px;
  }

  .nav {
    gap: 12px;
  }

  .content {
    padding: 12px 0px;
  }

  .logo {
    width: 112px;
    height: 32px;
  }

  .navCTA {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px; /* 150% */
  }
}

.heroSection {
  display: flex;
  box-sizing: border-box;
  padding: 120px 24px 80px 24px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 55.5%, #fff 100%),
    linear-gradient(0deg, #006fff 0%, #006fff 100%),
    url(/images/heroSection/heroSectionBG.jpg) lightgray 50% / cover no-repeat;
  background-blend-mode: normal, color, normal;
}

.heroContent {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.heroHeading {
  display: flex;
  box-sizing: border-box;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  margin: auto;
}

.heroTitle {
  align-self: stretch;

  /* Typography */
  text-align: center;
  font-family: Satoshi-Variable;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 120% */

  /* Style */
  background: linear-gradient(91deg, #006fff 0%, #14adff 45.5%, #50a5e2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroText {
  align-self: stretch;
  color: var(--Neutral-600, #585e7a);
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.heroCTA {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 12px;
}

.contactSales {
  display: flex;
  box-sizing: border-box;
  padding: 12px 20px;
  justify-content: flex-end;
  align-items: center;

  border-radius: 12px;
  background: var(--Primary-500, #006efd);

  color: var(--Shade-White, #fff);

  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */

  cursor: pointer;
}

.aboutGenAI {
  display: flex;
  box-sizing: border-box;
  padding: 12px 20px;
  justify-content: flex-end;
  align-items: center;

  border-radius: 12px;
  box-shadow: inset 0 0 0 1px #e1e2ea; /* Simulates an inner border */

  color: #006efd;

  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */

  cursor: pointer;
}

.toolSection {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  margin: auto;
}

.toolList {
  display: flex;
  box-sizing: border-box;
  max-width: 1024px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}

.tool {
  /* width: 112px; */
  height: 24px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.toolText {
  max-width: 1024px;
  align-self: stretch;
  color: var(--Neutral-600, #585e7a);
  text-align: center;

  /* body-18 */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

@media (max-width: 1023px) {
  .heroHeading {
    max-width: 640px;
  }

  .heroTitle {
    font-size: 48px;
    line-height: 54px; /* 120% */
  }

  .heroText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .toolText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }
}

@media (max-width: 767px) {
  .heroSection {
    padding: 80px 16px 48px 16px;
    gap: 48px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 55.5%, #fff 100%),
      linear-gradient(0deg, #006fff 0%, #006fff 100%),
      url(/images/heroSection/heroSectionBGSmall.jpeg) lightgray 50% / cover
        no-repeat;
    background-blend-mode: normal, color, normal;
  }

  .heroContent {
    gap: 32px;
  }

  .heroHeading {
    max-width: 440px;
    gap: 12px;
  }

  .heroTitle {
    font-size: 34px;
    line-height: 44px; /* 120% */
  }

  .heroText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .contactSales {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .aboutGenAI {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .toolSection {
    gap: 16px;
  }

  .tool {
    height: 20px;
    padding: 12px;
  }

  .toolText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }
}

@media (max-width: 479px) {
  .heroSection {
    padding: 60px 12px 36px 12px;
    gap: 36px;
  }

  .heroContent {
    gap: 24px;
  }

  .heroHeading {
    max-width: 440px;
    gap: 12px;
  }

  .heroTitle {
    font-size: 32px;
    line-height: 42px; /* 120% */
  }

  .heroText {
    font-size: 14px;
    line-height: 22px; /* 144.444% */
  }

  .heroCTA {
    gap: 12px;
  }

  .contactSales {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px; /* 144.444% */
  }

  .aboutGenAI {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px; /* 144.444% */
  }

  .toolSection {
    gap: 16px;
  }

  .tool {
    height: 16px;
    padding: 8px;
  }

  .toolText {
    font-size: 14px;
    line-height: 22px; /* 144.444% */
  }
}

.genaiSection {
  display: flex;
  box-sizing: border-box;
  padding: 80px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.genaiHeading {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  margin: auto;
}

.genaiTitle {
  align-self: stretch;

  color: #2b2e3d;
  text-align: center;

  font-family: Satoshi-Variable;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 135% */
}

.genaiText {
  align-self: stretch;

  color: var(--Neutral-600, #585e7a);
  text-align: center;

  /* body-18 */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.genaiArticle {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
  margin: auto;
}

.article {
  display: flex;
  box-sizing: border-box;
  min-width: 380px;
  max-width: 400px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;

  border-radius: 12px;
  box-shadow: inset 0 0 0 1px #e1e2ea; /* Simulates an inner border */
  overflow: hidden;
}

.articleBanner {
  box-sizing: border-box;
  padding: 1px 1px 0px 1px;
  border-radius: 12px 12px 0 0;
  height: 200px;
  align-self: stretch;
  object-fit: cover;

  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.articleContent {
  display: flex;
  box-sizing: border-box;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.articleHeading {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.articleTag {
  align-self: stretch;

  color: #6b7394;

  /* body-14 */
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

.articleTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;

  overflow: hidden;
  color: #2b2e3d;
  text-overflow: ellipsis;

  /* h-20-bold */
  font-family: Satoshi-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.articleLink {
  align-self: stretch;

  color: #006efd;

  /* body-16-semibold */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

@media (max-width: 1023px) {
  .genaiTitle {
    font-size: 34px;
    line-height: 44px; /* 135% */
  }

  .genaiText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .article {
    min-width: 348px;
  }
}

@media (max-width: 767px) {
  .genaiSection {
    padding: 48px 16px;
    gap: 32px;
  }

  .genaiHeading {
    gap: 12px;
  }

  .genaiTitle {
    font-size: 32px;
    line-height: 42px; /* 135% */
  }

  .genaiText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .genaiArticle {
    gap: 16px;
  }

  .article {
    min-width: 348px;
  }

  .articleContent {
    padding: 16px;
    gap: 16px;
  }

  .articleTitle {
    font-size: 18px;
    line-height: 26px; /* 140% */
  }

  .articleLink {
    font-size: 14px;
    line-height: 20x; /* 150% */
  }
}

@media (max-width: 479px) {
  .genaiSection {
    padding: 36px 12px;
    gap: 24px;
  }

  .genaiHeading {
    gap: 12px;
  }

  .genaiTitle {
    font-size: 30px;
    line-height: 38px; /* 135% */
  }

  .genaiText {
    font-size: 14px;
    line-height: 22px; /* 144.444% */
  }

  .genaiArticle {
    gap: 16px;
    margin: unset;
  }

  .article {
    min-width: 280px;
    max-width: 400px;
  }

  .articleContent {
    padding: 12px;
    gap: 12px;
  }

  .articleHeading {
    gap: 4px;
  }

  .articleTag {
    font-size: 12px;
    line-height: 20px; /* 157.143% */
  }

  .articleTitle {
    font-size: 18px;
    line-height: 26px; /* 140% */
  }

  .articleLink {
    font-size: 14px;
    line-height: 20px; /* 150% */
  }
}

.ourexpertSection {
  display: flex;
  box-sizing: border-box;
  padding: 80px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; /* Allows children to stretch across the width */
  gap: 48px;
  width: 100%;
}

.ourexpertHeading {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: center;
}

.ourexpertTitle {
  align-self: stretch;

  color: #2b2e3d;
  text-align: center;

  /* h-40 */
  font-family: Satoshi-Variable;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 135% */
}

.ourexpertText {
  align-self: stretch;

  color: var(--Neutral-600, #585e7a);
  text-align: center;

  /* body-18 */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.ourexpertNav {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  align-self: stretch;
  box-shadow: inset 0 -1px 0 0 #e1e2ea;
  margin: 0 auto;
}

.ourexpertNavitem {
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.ourexpertNavitemText {
  flex: 1 0 0;

  color: #2b2e3d;
  text-align: center;

  /* h-20-semibold */
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}

.ourexpertNavitemSelect {
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  background: var(--Primary-50, #f1f7ff);
}

.ourexpertNavitemSelectText {
  flex: 1 0 0;

  color: var(--Primary-500, #006efd);
  text-align: center;

  /* h-20-bold */
  font-family: Satoshi-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.ourexpertItemLarge {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  margin: auto;
}

.ourexpertItemBanner {
  height: 360px;
  flex: 1 0 0;
  border-radius: 16px;
  width: 50%;
  object-fit: cover;
}

.ourexpertItemContent {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  width: 50%;
}

.ourexpertItemHeading {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.ourexpertItemTitle {
  align-self: stretch;

  color: #2b2e3d;

  /* h-32 */
  font-family: Satoshi-Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 131.25% */
}

.ourexpertItemText {
  align-self: stretch;

  color: var(--Neutral-600, #585e7a);

  /* body-18 */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.ourexpertItemLink {
  align-self: stretch;

  color: var(--Primary-500, #006efd);

  /* body-16-semibold */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.ourexpertItemSmall {
  display: none;
}

@media (max-width: 1023px) {
  .ourexpertTitle {
    font-size: 34px;
    line-height: 44px;
  }

  .ourexpertText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .ourexpertNav {
    display: none;
  }

  .ourexpertItemLarge {
    display: none;
  }

  .ourexpertItemSmall {
    display: flex;
    box-sizing: border-box;
    max-width: 680px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: center;
  }

  .ourexpertItemBannerSection {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }

  .iconLeft {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
  }

  .ourexpertItemBanner {
    height: 320px;
    flex: 1 0 0;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .iconRight {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
  }

  .ourexpertItemContent {
    display: flex;
    box-sizing: border-box;
    max-width: 524px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: center;
    width: 100%;
  }

  .ourexpertItemHeading {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .ourexpertItemTitle {
    align-self: stretch;

    color: #2b2e3d;

    /* h-30-bold */
    font-family: Satoshi-Variable;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 126.667% */
  }

  .ourexpertItemText {
    align-self: stretch;

    color: var(--Neutral-600, #585e7a);

    /* body-16 */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }

  .ourexpertItemLink {
    align-self: stretch;

    color: var(--Primary-500, #006efd);

    /* body-14-semibold */
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
  }
}

@media (max-width: 767px) {
  .ourexpertSection {
    padding: 48px 16px;
    gap: 32px;
    width: 100%;
  }

  .ourexpertHeading {
    gap: 12px;
  }

  .ourexpertTitle {
    font-size: 32px;
    line-height: 42px; /* 135% */
  }

  .ourexpertText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .ourexpertItemSmall {
    max-width: 480px;
    gap: 18px;
  }

  .ourexpertItemBannerSection {
    gap: 16px;
  }

  .iconLeft {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
  }

  .ourexpertItemBanner {
    height: 220px;
  }

  .iconRight {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
  }

  .ourexpertItemContent {
    max-width: 348px;
  }

  .ourexpertItemTitle {
    font-size: 24px;
    line-height: 34px; /* 126.667% */
  }
}

@media (max-width: 479px) {
  .ourexpertSection {
    padding: 36px 12px;
    gap: 24px;
  }

  .ourexpertHeading {
    gap: 12px;
  }

  .ourexpertTitle {
    font-size: 30px;
    line-height: 38px; /* 135% */
  }

  .ourexpertText {
    font-size: 14px;
    line-height: 22px; /* 144.444% */
  }

  .ourexpertItemSmall {
    max-width: 400px;
    gap: 12px;
  }

  .ourexpertItemBannerSection {
    gap: 4px;
  }

  .iconLeft {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }

  .ourexpertItemBanner {
    height: 160px;
  }

  .iconRight {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }

  .ourexpertItemContent {
    max-width: 260px;
  }

  .ourexpertItemTitle {
    font-size: 20px;
    line-height: 28px; /* 126.667% */
  }

  .ourexpertItemText {
    font-size: 14px;
    line-height: 22px; /* 150% */
  }

  .ourexpertItemLink {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}

.pocSection {
  display: flex;
  box-sizing: border-box;
  padding: 80px 24px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;

  background: url(/images/pocSection/pocSectionBG.jpeg) lightgray 50% / cover
    no-repeat;
}

.pocContent {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: center;
  width: 100%;
}

.pocHeading {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.pocTitle {
  align-self: stretch;

  color: #fff;

  /* h-48 */
  font-family: Satoshi-Variable;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 112.5% */
}

.pocText {
  align-self: stretch;

  color: #e5f0ff;

  /* body-18 */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.pocCTA {
  display: flex;
  box-sizing: border-box;
  padding: 12px 20px;
  justify-content: flex-end;
  align-items: center;

  border-radius: 12px;
  background: #fff;
}

.ctaText {
  color: #006efd;

  /* body-18-semibold */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
}

@media (max-width: 1023px) {
  .pocTitle {
    font-size: 40px;
    line-height: 54px; /* 112.5% */
  }

  .pocText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }
}

@media (max-width: 767px) {
  .pocSection {
    padding: 48px 16px;
  }

  .pocContent {
    align-items: center;
    gap: 32px;
    align-self: center;
    width: 100%;
  }

  .pocHeading {
    align-items: center;
    gap: 12px;
  }

  .pocTitle {
    text-align: center;
    font-size: 34px;
    line-height: 44px; /* 112.5% */
  }

  .pocText {
    text-align: center;
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .pocCTA {
    padding: 10px 16px;
  }

  .ctaText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }
}

@media (max-width: 479px) {
  .pocSection {
    padding: 36px 12px;
    gap: 24px;
  }

  .pocContent {
    gap: 24px;
  }

  .pocHeading {
    align-items: center;
    gap: 12px;
  }

  .pocTitle {
    text-align: center;
    font-size: 32px;
    line-height: 42px; /* 112.5% */
  }

  .pocText {
    text-align: center;
    font-size: 14px;
    line-height: 22px; /* 112.5% */
  }

  .pocCTA {
    padding: 8px 12px;
  }

  .ctaText {
    font-size: 14px;
    line-height: 20px; /* 144.444% */
  }
}

.testimonialSection {
  display: flex;
  box-sizing: border-box;
  padding: 80px 24px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;

  background: #fff;
}

.testimonialText {
  max-width: 800px;
  align-self: center;

  color: var(--Neutral-600, #585e7a);
  text-align: center;

  /* body-18 */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.testimonialContent {
  display: flex;
  box-sizing: border-box;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: center;
}

.testimonialHeading {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.testimonialDP {
  width: 80px;
  height: 80px;

  border-radius: 80px;
  box-shadow: inset 0 0 0 1px #e1e2ea; /* Simulates an inner border */
}

.testimonialBody {
  align-self: stretch;

  color: #2b2e3d;
  text-align: center;

  /* body-24 */
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}

.testimonialName {
  align-self: stretch;

  color: #7c84a3;
  text-align: center;

  /* body-24-bold */
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
}

.testimonialHighlight {
  display: flex;
  box-sizing: border-box;
  padding: 8px 12px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  background: var(--Warning-50, #fffbeb);

  color: #2b2e3d;
  text-align: center;

  /* body-24 */
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}

.testimonialNav {
  display: flex;
  box-sizing: border-box;
  max-width: 800px;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: center;
}

.testimonialNavLeft {
  width: 28px;
  height: 28px;
}

.testimonialNavRight {
  width: 28px;
  height: 28px;
}

@media (max-width: 1023px) {
  .testimonialText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .testimonialBody {
    font-size: 20px;
    line-height: 30px; /* 150% */
  }

  .testimonialName {
    font-size: 20px;
    line-height: 30px; /* 150% */
  }

  .testimonialHighlight {
    font-size: 20px;
    line-height: 30px; /* 150% */
  }
}

@media (max-width: 767px) {
  .testimonialSection {
    padding: 48px 16px;
    gap: 32px;
  }

  .testimonialText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }

  .testimonialContent {
    gap: 16px;
  }

  .testimonialBody {
    font-size: 18px;
    line-height: 26px; /* 150% */
  }

  .testimonialName {
    font-size: 18px;
    line-height: 28px; /* 150% */
  }

  .testimonialHighlight {
    font-size: 18px;
    line-height: 26px; /* 150% */
  }
}

@media (max-width: 479px) {
  .testimonialSection {
    padding: 36px 12px;
    gap: 24px;
  }

  .testimonialText {
    font-size: 14px;
    line-height: 22px; /* 144.444% */
  }

  .testimonialContent {
    gap: 12px;
  }

  .testimonialHeading {
    gap: 8px;
  }

  .testimonialDP {
    width: 64px;
    height: 64px;
  }

  .testimonialBody {
    font-size: 16px;
    line-height: 24px; /* 150% */
  }

  .testimonialName {
    font-size: 16px;
    line-height: 24px; /* 150% */
  }

  .testimonialHighlight {
    font-size: 16px;
    line-height: 24px; /* 150% */
  }
}

.futureSection {
  display: flex;
  box-sizing: border-box;
  padding: 80px 24px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;

  background: linear-gradient(180deg, #f1f7ff 0%, rgba(241, 247, 255, 0) 100%);
}

.futureText {
  max-width: 1200px;
  align-self: center;

  color: #2b2e3d;

  /* h-40 */
  font-family: Satoshi-Variable;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 135% */
}

.futureList {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  align-items: center;
  align-content: center;
  gap: 24px;
  align-self: center;
  flex-wrap: wrap;
}

.futureItem {
  display: flex;
  box-sizing: border-box;
  min-width: 380px;
  max-width: 540px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;

  border-radius: 16px;
  box-shadow: inset 0 0 0 1px #e1e2ea; /* Simulates an inner border */
  background: var(--Shade-White, #fff);
}

.futureIcon {
  width: 56px;
}

.futureContent {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.futureItemHeading {
  color: #2b2e3d;

  /* h-20-bold */
  font-family: Satoshi-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.futureItemText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;

  overflow: hidden;
  color: #585e7a;
  text-overflow: ellipsis;

  /* body-18 */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

@media (max-width: 1023px) {
  .futureText {
    font-size: 34px;
    line-height: 44px; /* 135% */
  }

  .futureItem {
    min-width: 324px;
    max-width: 540px;
  }

  .futureItemText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }
}

@media (max-width: 767px) {
  .futureSection {
    padding: 48px 16px;
    gap: 32px;
  }

  .futureText {
    font-size: 32px;
    line-height: 42px; /* 135% */
  }

  .futureList {
    gap: 16px;
  }

  .futureItem {
    min-width: 324px;
    max-width: 540px;
    padding: 16px;
    gap: 16px;
  }

  .futureContent {
    gap: 8px;
  }

  .futureItemText {
    font-size: 16px;
    line-height: 24px; /* 144.444% */
  }
}

@media (max-width: 479px) {
  .futureSection {
    padding: 32px 12px;
    gap: 24px;
  }

  .futureText {
    font-size: 24px;
    line-height: 32px; /* 135% */
  }

  .futureList {
    gap: 12px;
  }

  .futureItem {
    min-width: 284px;
    max-width: 540px;
    padding: 12px;
    gap: 12px;
  }

  .futureIcon {
    width: 40px;
  }

  .futureContent {
    gap: 8px;
  }

  .futureItemHeading {
    font-size: 18px;
    line-height: 26px; /* 140% */
  }

  .futureItemText {
    font-size: 14px;
    line-height: 22px; /* 144.444% */
  }
}
